

*
{
    margin:0;
    padding: 0;
}



body{
   
   
    margin: 0;
    padding: 0;
    background-size: cover;
    position: absolute;
    overflow-x: hidden;
  

}


header
{
    height: 50%;
    background-color: #6D28D9;
    width: 100%;
    padding:2rem;
    border-bottom-left-radius: 1.4rem;
    width:100%;
   
}

.header h1
{
   
    color:white;
}

.header a 
{
    text-decoration: none;
    color: white;
}

.one
{
    padding:1rem;
    position: relative;
    text-align: center;
    width: auto;
   
}

.one .image 
{
    max-width: 300px;
    display: block;
   margin: auto;
  
   padding:2rem;
}

.one h2
{
    text-align: center;
    font-size: 1.2rem;
     color:#312E81;
}


.button-container
{
    background-color: #A78BFA;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-width:100%;
    min-height: 100%;
    padding: 2rem;

}

.box
{
    width:20%;
    height:100px;
    background: #FEF2F2;
    margin: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;


}
.box h3 a 
{
    list-style: none;
    text-decoration: none;
    color:black;
    
}

.box h3
{
   
    font-size: 1.5rem;
    text-align: center;
    padding-top: 2rem;
}

footer
{
    padding-top: 1rem;
    background-color:#FDF2F8;
    text-align: center;
    padding-bottom: 1rem;
}

footer ul
{
    list-style: none;
    
}
footer ul li
{
    display: inline;
    
    padding-right: 0.5rem;
}

footer ul li a 
{
    text-decoration: none;
    color:black;
    font-weight:bold;
}


.button-container
{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}












@media screen and (max-width:568px) 
{
    header 
    {
        background-color: rebeccapurple;
        min-width: 100%;
    }
    .button-container{
        min-width: 100%;
        padding: 1rem;
    }

    .box 
    {
        width: 60%;
        margin: 10px;
    }
}



