*
{
    margin:0;
    padding: 0;
}



body{
   
   
    margin: 0;
    padding: 0;
    background-size: cover;

}


header
{
   
    background-color: #BE185D;
    width: 100%;
    padding:1rem;
    border-bottom-left-radius: 1.4rem;
   
}

.header h1
{
   
    color:white;
    font-size: 2rem;;
    
}


.one
{
    padding:2rem;
   
}

.one .image 
{
    max-width: 300px;
    display: block;
   margin: auto;
  
   padding:2rem;
}

.one h2
{
    text-align: center;
    font-size: 1rem;
     color:#831843;
}


.two
{
    background-color: #E5E7EB;
    padding:1rem;
}


footer
{
    padding-top: 1rem;
    background-color: black;
    text-align: center;
    padding-bottom: 0.5rem;
}


footer ul
{
    list-style: none;
    
}
footer ul li
{
    display: inline;
    
    padding-right: 0.5rem;
}

footer ul li a 
{
    text-decoration: none;
    color:black;
    font-weight:bold;
}

